# ---------- NAVIGATION AND ZOOM ----------

# Goto left/right side of the page ignoring white margins
goto_left_smart <C-n>
goto_right_smart <C-m>

# Movement
move_left           l
move_right          h

# Goto forward and backward page. Real page.
next_page <C-f>
previous_page <C-b>

# Goto previous viewing state and delete the current (and future) state(s).
#pop_state w

# Goto the previous and next history point
prev_state <C-h>
next_state <C-l>

# Open table of contents.
goto_toc T

## Keyboard shortcut to enter visual mark mode (instead of right clicking)
enter_visual_mark_mode <C-v>

# Move visual mark
move_visual_mark_up k
move_visual_mark_down j

# ---------- SEARCH ----------
search /
chapter_search c/

# ---------- BOOKMARKS ----------

# ---------- HIGHLIGHTS ----------
# You can select a piece of text and press the `add_highlight` shortcut followed by a symbol (a character from a-z) to highlight
# the text
add_highlight H

# ---------- MARKS ----------

set_mark m
goto_mark '

# ---------- PORTALS ----------
portal p
delete_portal dp

# Goto the position of the portal with the closest source to current location
goto_portal gp
goto_portal <tab>

# Similar to goto_portal, except when prev_state is called, the destination of the portal is update to be the state
# on which prev_state is called
edit_portal P

# Open/Close the helper window for portals
toggle_window_configuration <C-p>

# ---------- MISC ----------

# Copy selected text
copy y

# Toggle dark mode (inverted colors)
toggle_dark_mode t

## Toggle custom color mode. You can specify the text background color in your `prefs_user.config` file
## see https://sioyek-documentation.readthedocs.io/en/latest/configuration.html#custom-background-color-and-custom-text-color
toggle_custom_color C

# Toggle synctex mode. When in synctex mode, right clicking on a pdf launches the corresponding latex page.
toggle_synctex <C-s>

# Open PDF links using keyboard
open_link f

toggle_statusbar B
